.carousel-caption-custom {

    position: absolute;
    padding: 0.7rem;
    max-width: 80%;
    bottom: 14%;
    text-align: center;
    right: 10%;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* Large screens: Overlay the caption */
@media (min-width: 768px) {
    .carousel-caption-custom {
        position: absolute;
        bottom: 5%;
         padding: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .caption-title {
        font-size: 1.7rem;
        font-weight: bold;
    }
}

/* Optional: custom heading and text styling */
.caption-title {
    font-size: 0.9rem;
    font-weight: bold;
}